.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.drawer {
  position: fixed;       
  top: 0;
  left: 0;
  height: 100vh;        
  width: 0;
  overflow: hidden;
  background: #d7ddcf;
  transition: width 0.3s ease;
  padding: 1rem 0;
}
.drawer.open {
  width: 200px;
}

.triangle-toggle {
  position: fixed;       
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  cursor: pointer;
  background: #91a5a8;
  transition: background 0.3s ease;
}
.triangle-toggle:hover {
  background: #5a6060;
}

.content {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}
.drawer.open ~ .content {
  margin-left: 200px;    }

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: #91a5a8;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 1rem;

}

.drawer .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.drawer .summary {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  padding-left: 1rem;

}